<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>长沙医疗网</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/verify.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    {% block js %}
    {% endblock %}
</head>
<body>
<!--头部部分-->
<div class="top-bar">
    <ul>
        <img src="{{ url_for('static',filename='images/logo1.jpg') }}"/>
        <li><a title="医疗网" href="#"><i>长沙医疗网</i></a></li>
        <li><p>长沙</p></li>
        <li><a title="首页" href="{{ url_for('index') }}">首页</a></li>
        <li><a title="医生" href="{{ url_for('doctor') }}">医生</a></li>
        <li><a title="医美" href="{{ url_for('hospital',page=1) }}">医院</a></li>
        <li><a title="体检" href="#">体检</a></li>
        <li><a title="产品系列" href="{{ url_for('product',page=1) }}">产品系列</a></li>
        <li><a title="行业快讯" href="{{ url_for('news',page=1) }}">行业快讯</a></li>
        <li><a title="养生保健" href="#">养生保健</a></li>
        <li><a title="神经心理" href="#">神经心理</a></li>
        <li><a title="客户留言" href="{{ url_for('guestbook') }}">客户留言</a></li>
    </ul>
    <span>
        <a href="#">{{ cookie }}</a>
        {% if cookie != '未登录' %}
            <li><a href="{{ url_for('cancel') }}">注销</a></li>|
        {% endif %}
        <li><a href="{{ url_for('register') }}">注册</a></li>|<li><a href="{{ url_for('login') }}">登录</a></li>|<li><a href="{{ url_for('phone') }}">手机版</a></li>
    </span>
</div>
<div class="logo-nav">
    <img src="{{ url_for('static',filename='images/logo.png') }}" height="50" width="170"/>
    <span>长沙</span>
    <a title="首页" href="{{ url_for('index') }}">首页</a>
    <a title="医生" href="{{ url_for('doctor') }}">医生</a>
    <a title="医院" href="{{ url_for('hospital',page=1) }}">医院</a>
    <a title="产品系列" href="{{ url_for('product',page=1) }}">产品系列</a>
    <a title="行业快讯" href="{{ url_for('news',page=1) }}">行业快讯</a>
    <input type="text" name="mysearch" placeholder=" 请输入关键字"/>
    <input type="submit" value="搜索"/>
</div>
<!--主体部分-->
{% block content %}
{% endblock %}
<!--尾部部分-->
<div class="footer">
    <a href="{{ url_for('company') }}">关于我们</a>|<a href="#">开放平台</a>|<a href="{{ url_for('recruit') }}">人才招聘</a>|<a href="{{ url_for('contact') }}">联系我们</a>
    <br />
    长沙医疗网  版权所有 TEL：xxx-xxxx-xxxx
    <br />
    Copyright ©2018-0828 ChangSha Medicine Net Development Zi.Xing
    <ul>
        <li><strong>友情链接：</strong></li>
        <li><a target="_blank" href="http://www.yixue.com/">医学百科</a></li>&nbsp;
        <li><a target="_blank" href="http://www.gene123.com/">基因123</a></li>&nbsp;
        <li><a target="_blank" href="http://www.cancer123.com/">癌症123</a></li>&nbsp;
        <li><a target="_blank" href="http://www.med123.com/">医学导航</a></li>&nbsp;
        <li><a target="_blank" href="http://www.we123.com/">微信小程序</a></li>&nbsp;
        <li><a target="_blank" href="http://www.yiliao.com/">医疗网</a></li>&nbsp;
        <li><a target="_blank" href="http://www.eyao.com/">医药网</a></li>&nbsp;
        <li><a target="_blank" href="http://www.zhys.com/">中华养生网</a></li>
    </ul>
</div>
</body>
</html>