{% extends "base.html" %}
{% block content %}
    <div class="big">
        <div class="small1">
            <h2>C h a n g S h a</h2>
            <h6>www.CSMedicalNet.com</h6>
            <h3>长沙医疗网</h3>
            <ul>
                <li><span>湖南省长沙市长沙医疗网站</span> </li>
                <li><span>由国内外部分知名人工智能专家学者蔡自兴、刘宏等共同倡导</span></li>
                <li><span>部分从事人工智能研究与开发的年轻专家</span></li>
                <li><span>自愿联合而成立的全国首家省级人工智能专业性研究机构</span></li>
                <li><span>以“自主创新 兴国强省”为工作方针</span></li>
                <li><span>以产业发展为目标，以应用需求为牵引</span></li>
                <li><span>以人才培养和关键技术研发为支撑</span></li>
                <li><span>以交流合作为导向</span></li>
                <li><span>专注于人工智能与机器人领域的新思想、新观念、新理论、新技术</span></li>
                <li><span>引导和推进湖南省人工智能与机器人的研究以及应用</span></li>
                <li><span>推动人工智能与机器人的科学探索和技术攻坚</span></li>
                <li><span>主要目的是为了打造湖南人工智能与智能机器人的前沿平台</span></li>
                <li><span>重视人工智能前瞻性基础的各种多元化的研究</span></li>
                <li><span>培育出一批制造业领域智能化技术创新研究与应用开发的高端人才</span></li>
                <li><span>建设开放共享的人工智能创新发展平台</span></li>
                <li><span>使智能资源充分共享</span></li>
                <li><span>为湖南乃至全国智能制造和其他人工智能相关产业装备</span></li>
                <li><span>系统提供产业孵化技术支撑及智能解决方案</span></li>
                <li><span>研究院从硬件入手致力于打造完整的服务机器人生态链</span></li>
            </ul>
            <ul>
                <li class="font">服务热线：0731-82233200</li>
                <img src="{{ url_for('static',filename='images/a9.png') }}" height="60" width="60"/>
                <li>联系地址：长沙高新开发区麓谷大道658号湖南麓谷信息港7001-01房</li>
            </ul>

        </div>
        <div class="small2">
            <h1>自主创新  兴教强国</h1>
            <h4>The independent innovation  </h4>
            <ul>
                <li><img src="{{ url_for('static',filename='images/a5.jpg') }}" height="250" width="250"/></li>
                <li><img src="{{ url_for('static',filename='images/a2.jpg') }}" height="115" width="120"/></li>
                <li><img src="{{ url_for('static',filename='images/a31.jpg') }}" height="115" width="120"/></li>
                <li><img src="{{ url_for('static',filename='images/a4.jpg') }}" height="115" width="255"/></li>
                <li><img src="{{ url_for('static',filename='images/a1.jpg') }}" height="170" width="520"/></li>
                <li><img src="{{ url_for('static',filename='images/a8.jpg') }}" height="115" width="250"/></li>
                <li><img src="{{ url_for('static',filename='images/a7.jpg') }}" height="115" width="250"/></li>
            </ul>
        </div>
    </div>
{% endblock %}