{% extends "base.html" %}
{% block content %}
    <div class="disease-doctor main-block">
    <div class="div">
        <div class="title-wrap">
            <h3 class="title">医生资历</h3>
        </div>
        <div style="width:1037px;margin:0px auto;">
            <div class="doctor-list slider-item clearfix  cur ">
            <div class="doctor-info-item first">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_c135e85f47dffc7b/" target="_blank">
                        <img src="https://resource.chunyu.mobi/@/media/images/2015/03/03/438100731c5b_w586_h586_.jpg?imageMogr2/thumbnail/150x">
                    </a>
                    <span class="available">可咨询</span>
                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_c135e85f47dffc7b/" target="_blank">
                            <span>罗锋&nbsp;</span>
                            <span class="clinic">呼吸内科&nbsp;</span>
                            <span class="grade">主治医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/aa5a73312004b72a/" target="_blank">
                            中南大学附属湘雅二医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">10466</i></span>
                        <span class="half-item">好评率 <i>97.5%</i></span>
                    </div>
                    <p class="des">擅长：呼吸系统疾病、慢性阻塞性肺疾病、肺心病、肺部感染、气道炎症、哮喘</p>
                </div>
            </div>
            <div class="doctor-info-item odd">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_0ebd32450488e0ef/" target="_blank">

                        <img src="https://resource.chunyu.mobi/@/media/images/2014/01/18/92dc272cff8f.jpg?imageMogr2/thumbnail/150x">

                    </a>

                    <span class="available">可咨询</span>

                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_0ebd32450488e0ef/" target="_blank">
                            <span>李大鹏&nbsp;</span>
                            <span class="clinic">呼吸内科&nbsp;</span>
                            <span class="grade">主治医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/466b28167ea88abb/" target="_blank">
                            长沙市第三医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">13272</i></span>
                        <span class="half-item">好评率 <i>99.8%</i></span>
                    </div>
                    <p class="des">擅长：慢性咳嗽、支气管哮喘、肿瘤、支气管扩张、间质性肺疾病、感冒</p>
                </div>
            </div>
            <div class="doctor-info-item">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_9b7c3b2a06f2ab1d/" target="_blank">

                        <img src="https://resource.chunyu.mobi/@/media/images/2017/08/02/03554ee7477b_w691_h691_.jpg?imageMogr2/thumbnail/150x">

                    </a>

                    <span class="available">可咨询</span>

                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_9b7c3b2a06f2ab1d/" target="_blank">
                            <span>钟文&nbsp;</span>
                            <span class="clinic">呼吸内科&nbsp;</span>
                            <span class="grade">医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/d24bb50e33813bdf/" target="_blank">
                            长沙市第四医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">7708</i></span>
                        <span class="half-item">好评率 <i>99.9%</i></span>
                    </div>
                    <p class="des">擅长：呼吸系统疾病、糖尿病、肺癌、肿瘤、感冒、咽喉痛</p>
                </div>
            </div>
            <div class="doctor-info-item odd last">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_b0d7de2b4c9af63c/" target="_blank">

                        <img src="https://resource.chunyu.mobi/@/media/images/2014/04/16/34385be5d6a0.jpg?imageMogr2/thumbnail/150x">

                    </a>

                    <span class="available">可咨询</span>

                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_b0d7de2b4c9af63c/" target="_blank">
                            <span>原庆&nbsp;</span>
                            <span class="clinic">呼吸内科&nbsp;</span>
                            <span class="grade">副主任医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/053b8dc60835dfbc/" target="_blank">
                            中南大学附属湘雅二医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">19539</i></span>
                        <span class="half-item">好评率 <i>99.3%</i></span>
                    </div>
                    <p class="des">擅长：哮喘、呼吸衰竭、恶性肿瘤、感冒、呼吸道感染、咽炎</p>
                </div>
            </div>
            <div class="doctor-info-item first">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_c5c19b8da43de219/" target="_blank">

                        <img src="https://resource.chunyu.mobi/@/media/images/2017/09/19/5705cd053e4e_w300_h301_.jpg?imageMogr2/thumbnail/150x">

                    </a>

                    <span class="available">可咨询</span>

                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_c5c19b8da43de219/" target="_blank">
                            <span>郦斐&nbsp;</span>
                            <span class="clinic">皮肤科&nbsp;</span>
                            <span class="grade">主治医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/ac00f9b2a2ad5d4e/" target="_blank">
                            长沙市中心医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">1968</i></span>
                        <span class="half-item">好评率 <i>99.4%</i></span>
                    </div>
                    <p class="des">擅长：特应性皮炎、荨麻疹、痤疮、白癜风、银屑病、性传播疾病</p>
                </div>
            </div>
            <div class="doctor-info-item odd">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_b1e6054125352447/" target="_blank">

                        <img src="https://resource.chunyu.mobi/@/media/images/2016/01/29/47049900428a_w1074_h1074_.jpg?imageMogr2/thumbnail/150x">

                    </a>

                    <span class="available">可咨询</span>

                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_b1e6054125352447/" target="_blank">
                            <span>周芳&nbsp;</span>
                            <span class="clinic">皮肤科&nbsp;</span>
                            <span class="grade">主治医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/f0158d48cd797047/" target="_blank">
                            长沙白癜风医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">20787</i></span>
                        <span class="half-item">好评率 <i>99.6%</i></span>
                    </div>
                    <p class="des">擅长：痤疮、湿疹、脂溢性皮炎、银屑病、体癣、甲真菌病</p>
                </div>
            </div>
            <div class="doctor-info-item">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_176d72ee15105284/" target="_blank">

                        <img src="https://resource.chunyu.mobi/@/media/images/2017/01/25/6dbb8ca3b631_w518_h497_.jpg?imageMogr2/thumbnail/150x">

                    </a>

                    <span class="available">可咨询</span>

                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_176d72ee15105284/" target="_blank">
                            <span>杨希川&nbsp;</span>
                            <span class="clinic">皮肤科&nbsp;</span>
                            <span class="grade">主任医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/f2a5eae45572c012/" target="_blank">
                            长沙中山医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">5328</i></span>
                        <span class="half-item">好评率 <i>100.0%</i></span>
                    </div>
                    <p class="des">擅长：皮肤病、性病、湿疹、尿布疹、荨麻疹、痤疮</p>
                </div>
            </div>
            <div class="doctor-info-item odd last">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_92f8d6a5579f09c8/" target="_blank">

                        <img src="https://resource.chunyu.mobi/@/media/images/2017/11/06/a87d/966ab9460867_w1034_h1034_.jpg?imageMogr2/thumbnail/150x">

                    </a>

                    <span class="available">可咨询</span>

                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_92f8d6a5579f09c8/" target="_blank">
                            <span>杜娟&nbsp;</span>
                            <span class="clinic">皮肤科&nbsp;</span>
                            <span class="grade">主任医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/c49efeabf7e81e6d/" target="_blank">
                            长沙市中心医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">181</i></span>
                        <span class="half-item">好评率 <i>96.5%</i></span>
                    </div>
                    <p class="des">擅长：白癜风、过敏性皮肤病、痤疮、皮肤病、皮疹、白斑</p>
                </div>
            </div>
            <div class="doctor-info-item odd last">
                <div class="avatar-wrap">
                    <a href="/pc/doctor/clinic_web_0e53998b468817a2/" target="_blank">

                        <img src="https://resource.chunyu.mobi/@/media/images/2017/04/25/8c885fe7b7e9_w284_h294_.jpg?imageMogr2/thumbnail/150x">

                    </a>

                    <span class="available">可咨询</span>

                </div>
                <div class="detail">
                    <div class="des-item">
                        <a class="name-wrap" href="/pc/doctor/clinic_web_0e53998b468817a2/" target="_blank">
                            <span>刘欣&nbsp;</span>
                            <span class="clinic">呼吸内科&nbsp;</span>
                            <span class="grade">主治医师</span>
                        </a>
                    </div>
                    <div class="des-item">
                        <a class="hospital" href="/pc/hospital/5a49c266c423a888/" target="_blank">
                            长沙市第三医院
                        </a>
                    </div>
                    <div class="des-item">
                        <span class="half-item">咨询人次 <i class="color-black">2626</i></span>
                        <span class="half-item">好评率 <i>99.6%</i></span>
                    </div>
                    <p class="des">擅长：肺炎、呼吸系统慢性疾病、哮喘、支气管扩张、鼻咽炎、感冒</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}