{% extends "manage/manage_base.html" %}
{% block js %}
	<script>
		$(function () {
			$(".navbar>ul>li:eq(1)").addClass("current");
		});
	</script>
{% endblock %}
{% block content %}
    <h5> >>> 删除用户</h5>
    <table class="del_list">
        <div class="page" style="position: absolute;top: 508px;">
            <a style="margin-left: 180px" href="{{ url_for('user',page=1)}}">首页</a>
            <a style="margin: 0px 10px" href="{{ url_for('user',page=prev)}}">上一页</a>
            {{ page }}
            <a style="margin-left: 10px" href="{{ url_for('user',page=next)}}">下一页</a>
            <a style="margin: 0px 10px" href="{{ url_for('user',page=pages)}}">末页</a>
            总页数:{{ pages }}
        </div>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>邮箱</th>
        </tr>
        {% for user_info in alls %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user_info[1] }}</td>
                <td>{{ user_info[3] }}</td>
                <td><a class="del" href="{{ url_for('del_user',Cpage=page,user_name=user_info[1],user_email=user_info[3]) }}">删除</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}