{% extends "base.html" %}
{% block content %}
    <div class="login">
        <div class="reg_title">
            <h1>管理员登录</h1>
        </div>
        <div class="login_form">
            <form action="/manage_test/">
                <ul>
                    <li>
                        <label>管理员：</label>
                        <input type="text" name="admin_name" id="user_name">
                        <span>提示信息</span>
                    </li>
                    <li>
                        <label>密码：</label>
                        <input type="password" name="pwd" id="pwd">
                        <span>提示信息</span>
                    </li>
                    <p style="margin-left: 100px;margin-top: -12px">{{ titi }}</p>
                    <li class="user_check">
                        <input type="checkbox" name="remember" checked="checked">
                        <label>记住密码</label>
                        <input type="checkbox" name="autologin" checked="checked">
                        <label>自动登录</label>
                    </li>
                    <li class="login_sub">
                        <input type="submit" value="登 录" name="mysubmit" id="login">
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}