{% extends "manage/manage_base.html" %}
{% block js %}
	<script>
		$(function () {
			$(".navbar>ul>li:eq(4)").addClass("current");
		});
	</script>
{% endblock %}
{% block content %}
    <h5> >>> 修改快讯</h5>
    <form class="manage_form" action="/manage/update_news/">
        <ul>
            <input style="display:none;" type="text" name="old_title" value="{{ news_title }}"/>
            <li>
                <label>快讯标题:</label>
                <input type="text" name="title" value="{{ news_title }}"/>
            </li>
            <li>
                <label>快讯内容:</label>
                <textarea rows="12" cols="38" name="content">{{ news_content }}</textarea>
            </li>
            <li class="reg_sub">
                <br />
                <input class="update" type="submit" value="修 改" name="mysubmit">
            </li>
        </ul>
    </form>
{% endblock %}