{% extends "manage/manage_base.html" %}
{% block js %}
	<script>
		$(function () {
			$(".navbar>ul>li:eq(2)").addClass("current");
		});
	</script>
{% endblock %}
{% block content %}
    <h5> >>> 修改产品</h5>
    <form class="manage_form"  action="/manage/update_product/">
        <ul>
            {% for info in infos %}
            <input style="display:none;" type="text" name="old_productName" value="{{ info[1] }}"/>
            <li>
                <label>产品名称:</label>
                <input type="text" name="productName" value="{{ info[1] }}"/>
            </li>
            <li>
                <label>产品图片:</label>
                <input type="file" name="photo" value="{{ info[2] }}"/>
            </li>
            <li>
                <label>产品功能:</label>
                <textarea rows="9" cols="38" name="work">{{ info[3] }}</textarea>
            </li>
            <li class="reg_sub">
                <br />
                <input class="update" type="submit" value="修 改" name="mysubmit">
            </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}